{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ apartment.name }} - Ajouter incident</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'check_arrangement/style/style_output.css' %}">
    <script src="{% static 'check_arrangement/js/forms.js' %}" defer></script>
</head>
<body>
    <a href="{% url 'index' %}" class="breadcrumb">Liste des outils</a>
    <a href="{% url 'check_arrangement:index' %}" class="breadcrumb">Liste des appartements</a>
    <div class="main">
        <div class="container card-head-apart">
            <h1 class="card-head-apart-name">{{ apartment.name }}</h1>
            <div class="card-head-apart-col-label">
                <ul>
                    <li class="card-label">{{ apartment.bedroom }} chambre{{ apartment.bedroom|pluralize }}</li>
                    <li class="card-label">{{ apartment.bathroom }} salle{{ apartment.bathroom|pluralize }} de bain</li>
                </ul>
                <p class="text-base font-normal text-xs">Ajouté le {{ apartment.created_at|date:'d F Y à H:i' }}</p>
            </div>
            <div class="card-head-apart-col-btn">
                <a class="btn secondary-btn" href="{% url 'check_arrangement:results' apartment.id %}">Fiche appart</a>
            </div>
        </div>
        <h2 class="title-category">Renseigner un incident</h2>
        <form class='form-add-issue' method="POST">
        {% csrf_token %}
            {{ form }}
            <div class="w-full flex justify-center mt-6">
                <button class="btn primary-btn" type="submit" title="Ajouter incident">Ajouter incident</button>
            </div>
        </form>
    <div id="add-issue-modal-success" class="modal-success-issue">Incident Ajoutée !</div>
    </div>
    </div>
</body>
</html>

