{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails appartement</title>
</head>
<body>
    <h1>{{ apartment.name }}</h1>
    <ul>
        <li>Nombre de chambres : {{ apartment.bedroom }}</li>
        <li>Nombre de SDB : {{ apartment.bathroom }}</li>
    </ul>
    <a href="{% url 'check_arrangement:results' apartment.id %}">Voir les incidents</a>
    <form method="POST">
        {% csrf_token %}
        <h2>Incidents à signaler...</h2>
        {{ form.as_p }}
        <button type="submit">Ajouter incident</button>
    </form>

</body>
</html>

