{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Liste apparts</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'check_arrangement/style/style_output.css' %}">
    <script src="{% static 'check_arrangement/js/index.js' %}" defer></script>
</head>
<body class="h-full bg-gray-50 text-gray-800">
    <a href="{% url 'index' %}" class="breadcrumb">Les outils</a>
    <div class="max-w-xl mx-auto p-4 flex flex-col items-center">
        <p class="text-2xl font-semibold mb-8 text-center">{{ app.verbose_name }}</p>
        <form class='container mb-8' method="POST">
            <div class="flex justify-between items-center">
                <h2 class="pl-4 pb-4 text-lg font-medium w-fit">Ajouter appartement</h2>
                <div id="box-arrow-form-add-apart" class="box-arrow">
                    <div class="contain-lines">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <hr class="w-full col-span-full">
            <div id='form-add-apart' class="grid grid-cols-9 col-span-full toggle-content">
                {% csrf_token %}
                {% for field in form %}
                    {% include "check_arrangement/snippets/form_add_apart_snippet.html" with field=field %}
                {% endfor %}
                <button id='btn-form-add-apart' type="submit" class="btn primary-btn mt-4 col-start-4 col-end-7" title="Ajouter appartement">Valider</button>
            </div>
        </form>

        <div class="flex w-full flex-wrap gap-4">
            {% if list_apartment %}
            {% for apartment in list_apartment %}
            <div class="container card-head-apart">
                <h3 class="card-apart-name">{{ apartment.name }}</h3>
                <div class="card-head-apart-col-label">
                    <ul>
                       <li class="card-label">{{ apartment.bedroom }} chambre{{ apartment.bedroom|pluralize }}</li>
                       <li class="card-label">{{ apartment.bathroom }} salle{{ apartment.bathroom|pluralize }} de bain</li>
                    </ul>
                    <p class="text-xs">Ajouté le {{ apartment.created_at|date:'d F Y à H:i' }}</p>
                </div>
                <div class="card-head-apart-col-btn">
                    <a class="btn secondary-btn"
                        href="{% url 'check_arrangement:add_issue' apartment.id %}">Ajouter incidents</a>
                    <a class="btn secondary-btn"
                        href="{% url 'check_arrangement:sheets' apartment.id %}">Les accessoires</a>
                </div>
                <a class="btn primary-btn card-apart-row-bottom" href="{% url 'check_arrangement:results' apartment.id %}">Fiche appart</a>

            </div>
            {% endfor %}
            {% else %}
            <p class="container">Aucun appartement en base de donnée pour le moment...</p>
        {% endif %}
        </div>
        <div class="container">
            <form>
                {% csrf_token %}
                {{ form_contact }}
                <button type="submit">Envoyer</button>
            </form>
        </div>
        </div>
</body>
</html>