@tailwind base;
@tailwind components;
@tailwind utilities;

.breadcrumb {
    @apply text-sky-800 text-sm underline pl-1.5
}
/* global */

body {
    @apply h-full bg-gray-50 text-gray-800
}

.container {
    @apply md:p-6 p-2 border bg-white rounded-md overflow-hidden
}

.main {
    @apply md:max-w-4xl md:p-6 max-w-xl mx-auto p-2 flex flex-col items-center
}

.title-category {
    @apply text-2xl my-6 text-center
}
/* Cartes d'en tête */

.card-head-apart {
    @apply md:max-w-xl w-full bg-white grid grid-cols-9
}

.card-head-apart-name {
    @apply text-2xl font-semibold mb-2 col-span-9
}

.card-head-apart-col-label {
    @apply col-span-5 md:col-span-3 md:col-start-1 pr-2
}

.card-head-apart-col-btn {
    @apply flex flex-col justify-start gap-2 col-start-6 col-end-10 md:col-start-7
}

/* card */

.card-label {
    @apply bg-gray-300 rounded-md px-2 w-fit mb-2 p-2
}



/* button */

.btn {
    @apply md:text-base p-2 font-semibold text-sm text-center rounded-md transition ease-in-out
}

.primary-btn {
    @apply border-2 border-sky-800 bg-sky-800 text-white box-border
}
.primary-btn:focus {
    @apply border-2 border-sky-800 bg-white text-sky-800
}

.secondary-btn {
    @apply border-2 border-sky-800 bg-white text-sky-800 box-border
}
.secondary-btn:focus {
    @apply border-2 border-sky-800 bg-sky-800 text-white
}


/* index */


/* add_issue.html */

.form-add-issue {
    @apply md:max-w-xl md:px-6 md:py-4 w-full p-2 border rounded-md overflow-hidden bg-white
}

.input-inline-form {
    @apply flex justify-between mb-4
}
.input-inline-form > label {
    @apply w-1/3
}

.input-inline-form > select {
    @apply w-1/2 bg-gray-300
}

.form-text-area {
    @apply w-1/2 border-2 border-gray-300 outline-none rounded-md resize-none
}

/* add_apartment.html */

.form-control-input:focus {
    @apply border-cyan-600 outline-none
}

.number-input {
    @apply w-12
}

.label-input {
    @apply flex flex-col my-1 w-full
}

.errorlist {
    @apply text-red-600 my-1
}


/* Modal add-modal-issue-success */

.modal-success-issue {
    display: none;
    @apply absolute right-2 top-2 bg-green-600 rounded-md p-2 text-white
 }

.show {
    @apply block
}

/* sheets.html */

.container {
    @apply md:p-6 p-2 border bg-white rounded-md overflow-hidden
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 25% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    position: relative;
}

.modal-content {
    @apply md:mt-60
}
.close-add, .close-delete {
    position: absolute;
    top: 0;
    right: 25px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-add:hover, .close-delete:hover,
.close:focus, .close-delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

